
.slide{
    display: none;
}

.active{
    display: block;
    object-fit: scale-down;
   
    
    
    
}
img{
   height: 600px;
  
}

i{
    color: whitesmoke;
    font-size: 35px;
}

#carousel{
    object-fit: contain;
    height: 600px; 
    position: relative;
}

.mytext{
    color: whitesmoke;
    font-size: 20px;
    top:  85%;
    right: 0%;
    position:absolute;
    text-align: right;
    padding: 0 0.4rem;
}